# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/
target/
out/
build/
.gradle/
.kotlin/

# snapcraft
parts
stage
prime
*.snap
snap/.snapcraft
.DS_Store

.settings
bin
.project
.classpath


# nur lokal fuer Release-Publishing (nicht im Repo)
build-exe.bat
